app/backend/Norso.API/.vs/Norso.API.slnx/DesignTimeBuild/.dtbcache.v2
app/backend/Norso.API/.vs/Norso.API.slnx/FileContentIndex/3ab80b22-0d49-4e31-a85e-4c45881c4ad1.vsidx
app/backend/Norso.API/.vs/Norso.API.slnx/FileContentIndex/8acb1b4d-208a-4fdf-81e3-25c0c2c5ca18.vsidx
app/backend/Norso.API/.vs/Norso.API.slnx/FileContentIndex/7314e55e-c11e-4d03-be35-d4177407747d.vsidx
app/backend/Norso.API/.vs/Norso.API.slnx/FileContentIndex/c7e86676-99ac-46c1-9cd8-8ad2c67fda59.vsidx
app/backend/Norso.API/.vs/Norso.API.slnx/FileContentIndex/cd2547f4-da9a-411c-a960-50c192b74bba.vsidx
app/backend/Norso.API/.vs/Norso.API.slnx/v18/.futdcache.v2
app/backend/Norso.API/.vs/Norso.API.slnx/v18/.suo
app/backend/Norso.API/.vs/Norso.API.slnx/v18/DocumentLayout.backup.json
app/backend/Norso.API/.vs/Norso.API.slnx/v18/DocumentLayout.json
app/backend/Norso.API/.vs/Norso.API.slnx/v18/TestStore/0/000.testlog
app/backend/Norso.API/.vs/Norso.API.slnx/v18/TestStore/0/testlog.manifest
app/backend/Norso.API/.vs/ProjectEvaluation/norso.api.metadata.v10.bin
app/backend/Norso.API/.vs/ProjectEvaluation/norso.api.projects.v10.bin
app/backend/Norso.API/.vs/ProjectEvaluation/norso.api.strings.v10.bin
app/backend/Norso.API/obj/Norso.API.csproj.nuget.dgspec.json
app/backend/Norso.API/obj/Norso.API.csproj.nuget.g.props
app/backend/Norso.API/obj/Norso.API.csproj.nuget.g.targets
app/backend/Norso.API/obj/project.assets.json
app/backend/Norso.API/obj/project.nuget.cache
app/backend/Norso.API/obj/Container/AbsoluteOutputAssemblyPath.cache
app/backend/Norso.API/obj/Container/AdditionalProbingPaths.cache
app/backend/Norso.API/obj/Container/ContainerDevelopmentMode.cache
app/backend/Norso.API/obj/Container/ContainerId.cache
app/backend/Norso.API/obj/Container/ContainerName.cache
app/backend/Norso.API/obj/Container/ContainerOperatingSystemFlavor.cache
app/backend/Norso.API/obj/Container/ContainerRunContext.cache
app/backend/Norso.API/obj/Container/DebuggeeArguments.cache
app/backend/Norso.API/obj/Container/DebuggeeKillProcessCommand.cache
app/backend/Norso.API/obj/Container/DebuggeeProgram.cache
app/backend/Norso.API/obj/Container/DebuggeeWorkingDirectory.cache
app/backend/Norso.API/obj/Container/DistrolessHelperSupported.cache
app/backend/Norso.API/obj/Container/FastModeProjectMountDirectory.cache
app/backend/Norso.API/obj/Container/ImageBuildContext.cache
app/backend/Norso.API/obj/Container/ImageId.cache
app/backend/Norso.API/obj/Container/LaunchedImageId.cache
app/backend/Norso.API/obj/Container/OperatingSystemName.cache
app/backend/Norso.API/obj/Container/TargetFramework.cache
app/backend/Norso.API/obj/Container/VolumeMappings.cache
app/backend/Norso.API/obj/Container/VolumeMappings2.cache
app/backend/Norso.API/obj/Container/VsDbgScript.cache
app/backend/Norso.API/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.AssemblyInfo.cs
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.AssemblyInfoInputs.cache
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.assets.cache
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.csproj.AssemblyReference.cache
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.GeneratedMSBuildEditorConfig.editorconfig
app/backend/Norso.API/obj/Debug/net10.0/Norso.API.GlobalUsings.g.cs
app/backend/Norso.API/obj/Debug/net10.0/rpswa.dswa.cache.json
app/backend/Norso.API/obj/Debug/net10.0/staticwebassets.removed.txt
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/.msCoverageSourceRootsMapping_Norso.API.Tests.Integration
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/CoverletSourceRootsMapping_Norso.API.Tests.Integration
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.ApplicationInsights.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.Testing.Extensions.MSBuild.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.Testing.Extensions.Telemetry.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.Testing.Extensions.TrxReport.Abstractions.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.Testing.Platform.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.TestPlatform.CommunicationUtilities.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.TestPlatform.CoreUtilities.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.TestPlatform.CrossPlatEngine.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.TestPlatform.PlatformAbstractions.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.TestPlatform.Utilities.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.Common.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Newtonsoft.Json.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Norso.API.Tests.Integration.deps.json
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Norso.API.Tests.Integration.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Norso.API.Tests.Integration.exe
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Norso.API.Tests.Integration.pdb
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Norso.API.Tests.Integration.runtimeconfig.json
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/testhost.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/testhost.exe
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.abstractions.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.runner.visualstudio.testadapter.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.assert.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.common.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.core.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.mtp-v2.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.runner.common.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.runner.inproc.console.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/xunit.v3.runner.utility.netcore.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Log/Norso.API.Tests.Integration_net10.0_x64_260904112238617.diag
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Log/Norso.API.Tests.Integration_net10.0_x64_260904112239459.diag
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/Log/Norso.API.Tests.Integration_net10.0_x64_260904113534666.diag
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Extensions.MSBuild.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Extensions.Telemetry.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.Testing.Platform.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
app/backend/Norso.API.Tests.Integration/obj/Norso.API.Tests.Integration.csproj.nuget.dgspec.json
app/backend/Norso.API.Tests.Integration/obj/Norso.API.Tests.Integration.csproj.nuget.g.props
app/backend/Norso.API.Tests.Integration/obj/Norso.API.Tests.Integration.csproj.nuget.g.targets
app/backend/Norso.API.Tests.Integration/obj/project.assets.json
app/backend/Norso.API.Tests.Integration/obj/project.nuget.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/apphost.exe
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.AP.963A1939.Up2Date
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.AssemblyInfo.cs
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.AssemblyInfoInputs.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.assets.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.csproj.AssemblyReference.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.csproj.BuildWithSkipAnalyzers
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.csproj.CoreCompileInputs.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.csproj.FileListAbsolute.txt
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.dll
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.genautoregisteredextensionsinputcache.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.GeneratedMSBuildEditorConfig.editorconfig
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.genruntimeconfig.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.gentestingplatformentrypointinputcache.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.GlobalUsings.g.cs
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.pdb
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.sourcelink.json
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/Norso.API.Tests.Integration.xUnit.v3.EntryPoint.cache
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/rpswa.dswa.cache.json
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/SelfRegisteredExtensions.cs
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/staticwebassets.removed.txt
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/XunitAutoGeneratedEntryPoint.cs
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/ref/Norso.API.Tests.Integration.dll
app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0/refint/Norso.API.Tests.Integration.dll
/app/backend/Norso.API/.vs
/app/backend/Norso.API/bin/Debug/net10.0
/app/backend/Norso.API/obj/Debug/net10.0
/app/backend/Norso.API.Tests.Integration/bin/Debug/net10.0
/app/backend/Norso.API.Tests.Integration/obj/Debug/net10.0
/app/backend/Norso.API/local-files
