@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body, #app {
    min-height: 100vh;
}

#app {
    display: flex;
}

.front-page {
    background: url('/images/nordlys.jpg') no-repeat;
    background-size: cover;
}

.front-page main {
    background: #0a3b3361;
}

.content{
    margin-inline: auto;
    max-width: 1000px;
    backdrop-filter: invert(1);
}

@media(max-width: 375px) {
    nav ul,
    nav h1{
        margin-inline: auto;
    }

    main img {
        width: 13rem !important;
    }
}