@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

:root {
  --light-white: #faf8e5;
  --light-purple: rgb(183 119 193);
  --light-orange: #d37300f0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Inter', sans-serif !important;
  font-size: 1.25rem;
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
}

.front-page {
  background-size: cover;
}

.front-page main {
  background: #0a3b3361;
}

.content {
  margin-inline: auto;
  max-width: 1000px;
  backdrop-filter: invert(1);
}

@media (max-width: 375px) {
  nav ul,
  nav h1 {
    margin-inline: auto;
  }

  main img {
    width: 13rem !important;
  }
}

.bg-dall-e {
  background: linear-gradient(
    90deg,
    rgb(237 234 222) 0%,
    rgb(215 215 213) 35%,
    rgb(255 255 255) 100%
  );
}

strong {
  font-size: 1.1em;
}

/* styles.css */
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark {
  background-color: #1a202c;
  color: #cbd5e0;
}

a {
  transition: color 0.3s ease;
}
/* 
a:hover {
    color: #4f46e5;
} */

footer {
  border-top: 1px solid #e2e8f0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

header {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.hero-bg {
  background-image: linear-gradient(
    109.6deg,
    rgba(112, 246, 255, 0.33) 11.2%,
    rgba(221, 108, 241, 0.26) 42%,
    rgba(229, 106, 253, 0.71) 71.5%,
    rgba(123, 183, 253, 1) 100.2%
  );
}
