@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

:root {
  --light-white: #faf8e5;
  --light-purple: rgb(183 119 193);
  --light-orange: #d37300f0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Inter', sans-serif !important;
  font-size: 1.25rem;
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
}

.front-page {
  background-size: cover;
}

.front-page main {
  background: #0a3b3361;
}

.content {
  margin-inline: auto;
  max-width: 1000px;
  backdrop-filter: invert(1);
}

@media (max-width: 375px) {
  nav ul,
  nav h1 {
    margin-inline: auto;
  }

  main img {
    width: 13rem !important;
  }
}

.bg-dall-e {
  background: linear-gradient(
    90deg,
    rgb(237 234 222) 0%,
    rgb(215 215 213) 35%,
    rgb(255 255 255) 100%
  );
}

strong {
  font-size: 1.1em;
}

/* styles.css */
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark {
  background-color: #1a202c;
  color: #cbd5e0;
}

a {
  transition: color 0.3s ease;
}
/* 
a:hover {
    color: #4f46e5;
} */

footer {
  border-top: 1px solid #e2e8f0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

header {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.hero-bg {
  background-image: linear-gradient(
    109.6deg,
    rgba(112, 246, 255, 0.33) 11.2%,
    rgb(128 75 255 / 26%) 42%,
    rgba(229, 106, 253, 0.71) 71.5%,
    rgb(219 253 123) 100.2%
  );
}

.polka-bg {
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fff%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23efedff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 700c119.277 91.713 238.555 183.426 348 176 109.445-7.426 209.058-113.99 319-129 109.942-15.01 230.214 61.533 348 40s233.087-141.143 344-133c110.913 8.143 217.438 144.038 346 135 128.562-9.038 279.16-163.011 332-202 52.84-38.989 7.92 37.005 3 113l-40 700H0Z%22 fill=%22url(%23a)%22%2F%3E%3C%2Fsvg%3E');
}
